* @wiz-demo/wiz-demo-infra-maintainers @wiz-demo/demo-maintainers @wiz-demo/wiz-demo-infra-writers @zahikoren @TheAlanNix @bryankmorrow
deploy/ @wiz-demo/wiz-demo-infra-maintainers @wiz-demo/demo-maintainers @wiz-demo/wiz-demo-infra-writers @zahikoren @TheAlanNix @bryankmorrow
demo-app/application/ @wiz-demo/wiz-demo-infra-maintainers @wiz-demo/demo-maintainers @wiz-demo/wiz-demo-infra-writers @zahikoren @TheAlanNix @bryankmorrow @karinmagriso
sast-demo/ @wiz-demo/wiz-demo-infra-maintainers @wiz-demo/demo-maintainers @wiz-demo/wiz-demo-infra-writers @wiz-code-demo/team-a
